* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  font-family: "Playfair Display";
  --primary-bg: rgb(0, 27, 46);
  --secondary-bg: rgb(41, 76, 96);
  --tertiary-bg: rgb(51, 122, 183);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--secondary-bg);
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-bg);
}

.navbar {
  z-index: 2;
  width: 5rem;
  height: 100vh;
  background: var(--primary-bg);
  position: fixed;
  transition: width 200ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  height: 5rem;
  align-items: center;
  margin: 0 1.5rem;
  color: white;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  width: 100%;
}

.logo svg {
  width: 2rem;
  min-width: 2rem;
  transform: rotate(0deg);
  transition: all 300ms linear;
}

.navbar:hover .logo svg {
  transform: rotate(180deg);
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: white;
  text-decoration: none;
  transition: all 200ms ease;
  max-width: 5rem;
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.nav-link:hover svg {
  color: rgb(233, 196, 106);
}

.nav-link:hover {
  background: var(--secondary-bg);
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover svg {
  width: 2rem;
}

.navbar:hover .link-text {
  display: block;
}

.link-text {
  display: none;
}

main {
  margin-left: 5rem;
}

.page-banner {
  background: url(./images/page-banner.jpg) center/cover fixed no-repeat;
  width: 100%;
  height: 80vh;
}

.header-text {
  position: relative;
  text-align: center;
  top: 40%;
  font-family: "MuseoModerno";
  text-shadow: 2px 2px 2px var(--secondary-bg);
}

.header-text h1 {
  font-size: 5rem;
}

.gradient-block {
  width: 100%;
  height: 8rem;
  background: linear-gradient(rgba(41, 76, 96, 0), var(--primary-bg));
  position: absolute;
  top: calc(80vh - 8rem);
}

.dev-skills {
  text-align: center;
  background: var(--tertiary-bg);
  color: white;
  min-height: 70vh;
  font-family: "MuseoModerno";
}

.dev-skills > h2 {
  padding-top: 2rem;
}

.line {
  max-width: 8rem;
  background: white;
  margin: auto;
}

.skills {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}

.skill-item {
  width: 14rem;
  height: 14rem;
  box-sizing: border-box;
  margin: 3rem;
}

.skill-icon {
  width: 40%;
  margin: 0.5rem auto;
  height: 40%;
  background: white;
  border-radius: 50%;
}

.skills img {
  width: 70%;
  height: 70%;
  padding-top: 15%;
  color: var(--tertiary-bg);
}

.skill-item h3 {
  font-size: 1.3rem;
}

.skill-item p {
  font-size: 0.9rem;
}

.wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.wrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 2fr 5fr;
  width: 80%;
  max-width: 900px;
  margin: 4rem auto;
  grid-gap: 3rem;
}

.wrapper > div {
  height: 100%;
  position: relative;
}

.wrapper > div::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  border: 2px solid var(--primary-bg);
  z-index: -2;
}

.wrapper > div::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  background: var(--secondary-bg);
  z-index: -1;
}

.box1 {
  grid-column: 1/3;
}

.box3 {
  grid-row: 2/4;
  grid-column: 2/3;
}

.tkd-header {
  background: rgb(51, 122, 183);
  height: 60vh;
  display: flex;
  align-items: center;
  color: white;
  font-family: "MuseoModerno";
}

.tkd-header img {
  width: 200px;
  height: 200px;
  margin: 5rem;
}

.tkd-header > div {
  margin: 4rem;
}

.tkd-header h2 {
  display: inline;
}

.line-sep {
  width: fit-content;
  margin-bottom: 3rem;
}

.tkd-image-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 80%;
  max-width: 900px;
  margin: 4rem auto;
  grid-gap: 3rem;
}

.tkd-image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tkd-image-grid > div {
  position: relative;
}

.tkd-box-3 {
  grid-row: 1/2;
  grid-column: 2/3;
}
.tkd-box-2 {
  grid-column: 1/3;
}

.tkd-image-grid > div::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  border: 2px solid var(--primary-bg);
  z-index: -2;
}

.tkd-image-grid > div::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  background: var(--secondary-bg);
  z-index: -1;
}

.scouts-header {
  background: rgb(51, 122, 183);
  height: 60vh;
  display: flex;
  align-items: center;
  color: white;
  font-family: "MuseoModerno";
}

.scouts-header img {
  width: 200px;
  height: 200px;
  margin: 5rem;
}

.scouts-header > div {
  margin: 4rem;
}

.scouts-header h2 {
  display: inline;
}

.line-sep {
  width: fit-content;
  margin-bottom: 3rem;
}

.scouts-image-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 4rem auto;
  grid-gap: 3rem;
}

.scouts-image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scouts-image-grid > div {
  position: relative;
}

.scouts-image-grid > div::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  border: 2px solid var(--primary-bg);
  z-index: -2;
}

.scouts-image-grid > div::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  background: var(--secondary-bg);
  z-index: -1;
}

.scouts-box-1 {
  grid-row: 3/4;
  grid-column: 1/3;
}

