* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  font-family: "Playfair Display";
  --primary-bg: rgb(0, 27, 46);
  --secondary-bg: rgb(41, 76, 96);
  --tertiary-bg: rgb(51, 122, 183);
  max-width: 100vw;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--secondary-bg);
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-bg);
}

.navbar {
  z-index: 2;
  width: 5rem;
  height: 100vh;
  background: var(--primary-bg);
  position: fixed;
  transition: width 200ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  height: 5rem;
  align-items: center;
  margin: 0 1.5rem;
  color: white;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  width: 100%;
}

.logo svg {
  width: 2rem;
  min-width: 2rem;
  transform: rotate(0deg);
  transition: all 300ms linear;
}

.navbar:hover .logo svg {
  transform: rotate(180deg);
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: white;
  text-decoration: none;
  transition: all 200ms ease;
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.nav-link:hover svg {
  color: rgb(233, 196, 106);
}

.nav-link:hover {
  background: var(--secondary-bg);
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  display: block;
}

.link-text {
  display: none;
}

main {
  margin-left: 5rem;
  max-width: calc(100vw - 5rem);
}

.gradient-block {
  width: 100%;
  height: 8rem;
  background: linear-gradient(rgba(41, 76, 96, 0), var(--primary-bg));
  position: absolute;
  top: calc(80vh - 8rem);
}

.page-banner {
  background: url(./images/page-banner.jpg) center/cover fixed no-repeat;
  width: 100%;
  height: 80vh;
}

.header-text {
  position: relative;
  top: 40%;
  text-align: center;
  font-family: "MuseoModerno";
  text-shadow: 2px 2px 2px var(--secondary-bg);
}

.header-text h1 {
  line-height: 4rem;
  font-size: 5rem;
}

.contacts {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contacts > ul {
  position: relative;
  display: flex;
}

.contacts ul li {
  position: relative;
  display: flex;
  list-style: none;
  width: 8rem;
  height: 8rem;
  margin: 0 6rem;
  transform: rotate(-30deg) skew(25deg);
  background: white;
}

.contacts ul li:nth-child(1) span{
background: rgb(155, 24, 79);
}

.contacts ul li:nth-child(2) span{
background: rgb(189, 38, 18);
}

.contacts ul li:nth-child(3) span{
background: rgb(9, 20, 31);
}

.contacts ul li:nth-child(4) span{
background: rgb(15, 184, 0);
}

.contacts ul li span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
}

.contacts ul li:hover span:nth-child(4) {
  transform: translate(45px, -45px);
  opacity: 1;
}

.contacts ul li:hover span:nth-child(3) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}

.contacts ul li:hover span:nth-child(2) {
  transform: translate(15px, -15px);
  opacity: 0.6;
}

.contacts ul li:hover span:nth-child(1) {
  transform: translate(0px, 0px);
  opacity: 0.4;
}
